logs
project/project
project/target
target
tmp
.history
dist
/.idea
/public/.idea/workspace.xml
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.ipr
*.iws
*.txt
*.sublime-project
*.sublime-workspace
/app/salesforce
/projectFilesBackup
/conf/dev.conf